n8n_workflows/BAE/BAE_SW01_INTAKE.json.bak
{
  "name": "BAE_SW01_INTAKE",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "INTAKE_TRIGGER",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "bae-intake-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "business-engine/run",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "node-validate",
      "name": "VALIDATE_SCHEMA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── BAE SCHEMA VALIDATOR & INTAKE NORMALIZER ───────────────────────────\n// Validates all required fields, applies defaults, and produces a\n// clean, normalized intake object for the rest of the pipeline.\n// Throws on hard validation failure — the webhook returns 400.\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst errors = [];\n\n// Hard required fields\nif (!body.business_type || typeof body.business_type !== 'string') {\n  errors.push('business_type (string) is required');\n}\n\n// Soft validations\nif (body.budget_usd !== undefined && typeof body.budget_usd !== 'number') {\n  errors.push('budget_usd must be a number');\n}\nif (body.timeline_months !== undefined) {\n  if (typeof body.timeline_months !== 'number' || body.timeline_months < 1 || body.timeline_months > 36) {\n    errors.push('timeline_months must be a number between 1 and 36');\n  }\n}\nif (body.automation_preference !== undefined) {\n  if (typeof body.automation_preference !== 'number' || body.automation_preference < 1 || body.automation_preference > 10) {\n    errors.push('automation_preference must be 1-10');\n  }\n}\nif (body.risk_tolerance && !['low', 'medium', 'high'].includes(body.risk_tolerance)) {\n  errors.push('risk_tolerance must be: low | medium | high');\n}\nif (body.founder_hours_per_week !== undefined) {\n  if (typeof body.founder_hours_per_week !== 'number' || body.founder_hours_per_week < 0 || body.founder_hours_per_week > 168) {\n    errors.push('founder_hours_per_week must be 0-168');\n  }\n}\nif (body.sectors_exclude !== undefined && !Array.isArray(body.sectors_exclude)) {\n  errors.push('sectors_exclude must be an array of strings');\n}\nif (body.founder_skills !== undefined && !Array.isArray(body.founder_skills)) {\n  errors.push('founder_skills must be an array of strings');\n}\n\nif (errors.length > 0) {\n  throw new Error('BAE Validation Failed: ' + errors.join(' | '));\n}\n\n// ── Normalize with sensible defaults ────────────────────────────────────\nconst intake = {\n  business_type:          String(body.business_type).trim(),\n  founder_skills:         Array.isArray(body.founder_skills) ? body.founder_skills : [],\n  budget_usd:             typeof body.budget_usd === 'number' ? body.budget_usd : 5000,\n  timeline_months:        typeof body.timeline_months === 'number' ? body.timeline_months : 6,\n  revenue_target_monthly: typeof body.revenue_target_monthly === 'number' ? body.revenue_target_monthly : 5000,\n  risk_tolerance:         body.risk_tolerance || 'medium',\n  automation_preference:  typeof body.automation_preference === 'number' ? body.automation_preference : 7,\n  sectors_exclude:        Array.isArray(body.sectors_exclude) ? body.sectors_exclude : [],\n  founder_hours_per_week: typeof body.founder_hours_per_week === 'number' ? body.founder_hours_per_week : 20,\n  constraints: {\n    no_employees:          body.constraints?.no_employees          === true,\n    bootstrapped:          body.constraints?.bootstrapped          === true,\n    must_be_remote:        body.constraints?.must_be_remote        === true,\n    requires_fast_revenue: body.constraints?.requires_fast_revenue === true\n  },\n  weight_hints: {\n    prioritize_speed:       body.weight_hints?.prioritize_speed       === true,\n    prioritize_margin:      body.weight_hints?.prioritize_margin      === true,\n    prioritize_automation:  body.weight_hints?.prioritize_automation  === true\n  },\n  submitted_at: new Date().toISOString()\n};\n\nreturn [{ json: { intake } }];"
      }
    },
    {
      "id": "node-weights",
      "name": "COMPUTE_WEIGHTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── ADAPTIVE WEIGHT CALCULATOR ──────────────────────────────────────────\n// Starts from a base weight vector and applies constraint-driven and\n// hint-driven deltas. Clamps each dimension to [0.05, 0.50] to prevent\n// any single dimension from dominating. Normalizes to sum = 1.0.\n// Float drift correction applied to founder_dependence (last key).\n\nconst intake = $input.first().json.intake;\nconst c = intake.constraints;\nconst w = intake.weight_hints;\n\n// Evidence-based base weights derived from BAE consulting rubric\nconst BASE = {\n  revenue:            0.30,\n  speed:              0.25,\n  automation:         0.20,\n  margin:             0.15,\n  founder_dependence: 0.10\n};\n\nconst delta = {\n  revenue:            0,\n  speed:              0,\n  automation:         0,\n  margin:             0,\n  founder_dependence: 0\n};\n\n// ── Constraint-driven deltas ────────────────────────────────────────────\n// requires_fast_revenue: Client needs early cashflow — boost speed + revenue\nif (c.requires_fast_revenue)           { delta.speed     += 0.08; delta.revenue    += 0.05; }\n// no_employees: Founder must automate everything — boost automation + independence\nif (c.no_employees)                    { delta.automation += 0.07; delta.founder_dependence += 0.05; }\n// bootstrapped: No external funding — margin survival is critical\nif (c.bootstrapped)                    { delta.margin     += 0.06; delta.speed      += 0.04; }\n// High automation preference (8+): Founder explicitly wants hands-off\nif (intake.automation_preference >= 8) { delta.automation += 0.05; }\n// Very low time availability: Model must function without constant founder input\nif (intake.founder_hours_per_week <= 10) { delta.founder_dependence += 0.08; delta.automation += 0.04; }\n// Low budget: Speed to revenue is critical, less room for slow-burn models\nif (intake.budget_usd < 2000)          { delta.speed     += 0.04; delta.margin    += 0.03; }\n// Remote-only: Eliminates physical business models — automation more relevant\nif (c.must_be_remote)                  { delta.automation += 0.03; }\n\n// ── Hint-driven deltas ──────────────────────────────────────────────────\nif (w.prioritize_speed)      { delta.speed     += 0.05; }\nif (w.prioritize_margin)     { delta.margin     += 0.05; }\nif (w.prioritize_automation) { delta.automation += 0.05; }\n\n// ── Compute raw weights with delta, clamp each to [0.05, 0.50] ─────────\nconst raw = {};\nfor (const k of Object.keys(BASE)) {\n  raw[k] = Math.min(0.50, Math.max(0.05, BASE[k] + delta[k]));\n}\n\n// ── Normalize to sum = 1.0 ──────────────────────────────────────────────\nconst total = Object.values(raw).reduce((a, b) => a + b, 0);\nconst weights = {};\nfor (const k of Object.keys(raw)) {\n  weights[k] = +(raw[k] / total).toFixed(4);\n}\n\n// ── Correct float drift (last key absorbs rounding error) ───────────────\nconst sumCheck = Object.values(weights).reduce((a, b) => a + b, 0);\nweights.founder_dependence = +(weights.founder_dependence + (1.0 - sumCheck)).toFixed(4);\n\nreturn [{ json: { intake, weights } }];"
      }
    },
    {
      "id": "node-pg-run",
      "name": "PG_INSERT_RUN",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [760, 300],
      "credentials": { "postgres": { "id": "postgres-main", "name": "postgresMain" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs (status, intake, weights)\nVALUES (\n  'running',\n  '{{ JSON.stringify($json.intake) }}'::jsonb,\n  '{{ JSON.stringify($json.weights) }}'::jsonb\n)\nRETURNING run_id;",
        "options": {}
      }
    },
    {
      "id": "node-set-context",
      "name": "PASS_CONTEXT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [980, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "run_id",  "value": "={{ $json.run_id }}", "type": "string" },
            { "id": "a2", "name": "intake",  "value": "={{ $('COMPUTE_WEIGHTS').item.json.intake }}", "type": "object" },
            { "id": "a3", "name": "weights", "value": "={{ $('COMPUTE_WEIGHTS').item.json.weights }}", "type": "object" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-run-sw02",
      "name": "RUN_SW02_CONTENDERS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "workflowId": { "__rl": true, "mode": "name", "value": "BAE_SW02_CONTENDERS" },
        "waitForSubWorkflow": true,
        "options": {}
      }
    },
    {
      "id": "node-dlq-intake",
      "name": "DLQ_INTAKE_FAILURE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [760, 500],
      "credentials": { "postgres": { "id": "postgres-main", "name": "postgresMain" } },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dlq_failures (workflow_name, node_name, error_code, error_message, raw_payload)\nVALUES (\n  'BAE_SW01_INTAKE',\n  '{{ $json.node }}',\n  'INTAKE_ERROR',\n  '{{ $json.message }}',\n  '{{ JSON.stringify($json) }}'::jsonb\n);",
        "options": {}
      }
    }
  ],
  "connections": {
    "INTAKE_TRIGGER":      { "main": [[{ "node": "VALIDATE_SCHEMA",     "type": "main", "index": 0 }]] },
    "VALIDATE_SCHEMA":     { "main": [[{ "node": "COMPUTE_WEIGHTS",     "type": "main", "index": 0 }]] },
    "COMPUTE_WEIGHTS":     { "main": [[{ "node": "PG_INSERT_RUN",       "type": "main", "index": 0 }]] },
    "PG_INSERT_RUN":       {
      "main":  [[{ "node": "PASS_CONTEXT",        "type": "main", "index": 0 }]],
      "error": [[{ "node": "DLQ_INTAKE_FAILURE",  "type": "main", "index": 0 }]]
    },
    "PASS_CONTEXT":        { "main": [[{ "node": "RUN_SW02_CONTENDERS", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "any"
  },
  "meta": { "instanceId": "bae-instance" }
}
