n8n_workflows/ai_ops_agent_voice.json
{
  "updatedAt": "2026-02-19T01:01:20.269Z",
  "createdAt": "2026-02-17T23:50:10.391Z",
  "id": "H6sBvxFg1sRHOKBQ",
  "name": "Rekindle Pro - AI Ops Agent (Proper Architecture)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-support",
        "responseMode": "responseNode",
        "responseNodeName": "Respond to Webhook",
        "options": {}
      },
      "id": "68e50ae8-c393-4696-ad4a-17f0d54d3e03",
      "name": "Webhook: Support",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1840,
        144
      ],
      "webhookId": "262f3010-6be2-4eb5-97c4-2a346924485d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "userMessage",
              "value": "={{ $json.body.message || $json.body.body }}",
              "type": "string"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.from || $json.body.phone || 'web-user' }}",
              "type": "string"
            },
            {
              "name": "channel",
              "value": "={{ $json.body.from ? 'sms' : 'web' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4236977e-8ad4-46d4-bc5f-9655ed6a84a9",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM clients WHERE phone = '{{ $json.phone }}' LIMIT 1;",
        "options": {}
      },
      "id": "84755449-105c-491e-9754-feef9bdbf211",
      "name": "Lookup Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1328,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "value1": "={{ $json[0]?.json?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ed63856b-4015-4930-bf9d-e8d5ddaa925f",
      "name": "Client Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1104,
        144
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Nathan, the Rekindle Pro support agent. You help business owners who are signed up to Rekindle Pro — an SMS review automation service. Be concise, helpful and direct. Never say 'someone will get back to you'. If asked about billing, explain they are charged £2.50 per review captured monthly. If asked to pause or resume their campaign, use the appropriate tool. If asked something you cannot resolve, escalate by telling them Riccardo will call them shortly. Keep replies under 160 characters when responding via SMS."
        },
        "text": "={{ $json.userMessage }}"
      },
      "id": "ee0763be-0e8d-47b3-bf96-ea5b2861677b",
      "name": "AI Agent: Nathan",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -768,
        -112
      ]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct",
        "options": {}
      },
      "id": "ba485158-7f68-4a1e-bfd3-e8215c66e8e5",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -880,
        112
      ],
      "credentials": {
        "openRouterApi": {
          "id": "so0ofQLkRjye9Ka1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Input').item.json.phone }}"
      },
      "id": "ecf85434-cc37-497b-9ec8-778f10079eee",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -752,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "pause_campaign",
        "description": "Pause a client's review campaign. Use when client asks to pause or stop temporarily."
      },
      "id": "00234577-429f-4ff0-866d-f67d2eab7b7a",
      "name": "Tool: Pause Campaign",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        -624,
        112
      ]
    },
    {
      "parameters": {
        "name": "resume_campaign",
        "description": "Resume a client's review campaign. Use when client asks to resume or restart."
      },
      "id": "b7fcbab8-495f-444c-bf23-7b7f8ee01ff9",
      "name": "Tool: Resume Campaign",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        -496,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reply",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "name": "channel",
              "value": "={{ $('Prepare Input').item.json.channel }}",
              "type": "string"
            },
            {
              "name": "phone",
              "value": "={{ $('Prepare Input').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2527a9c0-4fea-4836-b7f1-e534e5164f97",
      "name": "Format Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "sms"
            }
          ]
        }
      },
      "id": "bfb5b127-b526-4fdd-af86-1fb685438c02",
      "name": "SMS or Web?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.clicksend.com/v3/sms/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickSendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"from\": \"RekindlePro\",\n      \"body\": \"{{ $json.reply }}\",\n      \"to\": \"={{ $json.phone.startsWith('+') ? $json.phone : '+44' + $json.phone.slice(1) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b6b9fa19-cdf2-4d2a-8f16-14145314dd15",
      "name": "Send SMS Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        -112
      ],
      "credentials": {
        "clickSendApi": {
          "id": "9CcnKL7uI6GrC0rJ",
          "name": "ClickSend account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reply",
              "value": "={{ $json.reply }}",
              "type": "string"
            },
            {
              "name": "status",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "61b6066a-045d-4d42-a4bc-b09e6222be07",
      "name": "Return Web Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reply",
              "value": "Hi! We couldn't find your account. Please contact hello@rekindlepro.com or reply here and we'll help you out.",
              "type": "string"
            },
            {
              "name": "status",
              "value": "not_found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dde96e1a-871f-43b5-964a-1447f4169286",
      "name": "Client Not Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        288
      ]
    },
    {
      "parameters": {
        "description": "Call this tool everytime a client does not sign up, send Output\n1 item\nfirst_name\nphone\ncompany_name\n",
        "workflowId": {
          "__rl": true,
          "value": "cFJPQk2xnChqdMGT",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 1",
          "cachedResultUrl": "/workflow/cFJPQk2xnChqdMGT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -464,
        240
      ],
      "id": "35920af2-3086-4cba-95e4-68e6131eb716",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "jsCode": "// Pass through response from whichever branch executed\n// With responseNode mode, only one branch runs\nconst input = $input.first().json;\n\n// Normalize response for web\nif (input.reply) {\n  return [{ json: { reply: input.reply, status: input.status || 'ok' } }];\n}\n\n// SMS branch response\nreturn [{ json: { status: 'ok', sms_sent: true } }];"
      },
      "id": "route-response-001",
      "name": "Route Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -8
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-001",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        -8
      ]
    }
  ],
  "connections": {
    "Webhook: Support": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Lookup Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client": {
      "main": [
        [
          {
            "node": "Client Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Exists?": {
      "main": [
        [
          {
            "node": "AI Agent: Nathan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Client Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Nathan": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "SMS or Web?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS or Web?": {
      "main": [
        [
          {
            "node": "Send SMS Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Web Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Reply": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Web Reply": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Not Found": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Nathan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent: Nathan",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Pause Campaign": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Nathan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Resume Campaign": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Nathan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Nathan",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0f78d4c5-2a12-483c-bb78-e294c16098a7",
  "activeVersionId": "3cadeec9-c850-4914-9380-c1eae5390c3a",
  "versionCounter": 62,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-17T23:50:10.394Z",
      "createdAt": "2026-02-17T23:50:10.394Z",
      "role": "workflow:owner",
      "workflowId": "H6sBvxFg1sRHOKBQ",
      "projectId": "1WaRElym6fBkKJ0F",
      "project": {
        "updatedAt": "2026-02-17T16:13:07.071Z",
        "createdAt": "2026-02-17T16:02:28.441Z",
        "id": "1WaRElym6fBkKJ0F",
        "name": "Riccardo Minniti <minniti.riccardo@rekindlepro.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "79fbc936-e238-497e-9813-8539377db831"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-18T18:46:01.000Z",
    "createdAt": "2026-02-18T18:32:18.666Z",
    "versionId": "3cadeec9-c850-4914-9380-c1eae5390c3a",
    "workflowId": "H6sBvxFg1sRHOKBQ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "client-support",
          "responseMode": "responseNode",
          "responseNodeName": "Respond to Webhook",
          "options": {}
        },
        "id": "68e50ae8-c393-4696-ad4a-17f0d54d3e03",
        "name": "Webhook: Support",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1776,
          140
        ],
        "webhookId": "262f3010-6be2-4eb5-97c4-2a346924485d"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "userMessage",
                "value": "={{ $json.body.message || $json.body.body }}",
                "type": "string"
              },
              {
                "name": "phone",
                "value": "={{ $json.body.from || $json.body.phone || 'web-user' }}",
                "type": "string"
              },
              {
                "name": "channel",
                "value": "={{ $json.body.from ? 'sms' : 'web' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4236977e-8ad4-46d4-bc5f-9655ed6a84a9",
        "name": "Prepare Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1552,
          140
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM clients WHERE phone = '{{ $json.phone }}' LIMIT 1;",
          "options": {}
        },
        "id": "84755449-105c-491e-9754-feef9bdbf211",
        "name": "Lookup Client",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -1328,
          140
        ],
        "credentials": {
          "postgres": {
            "id": "iNd3pXEEaSrJVoEW",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $json.length }}",
                "operation": "larger"
              }
            ]
          }
        },
        "id": "ed63856b-4015-4930-bf9d-e8d5ddaa925f",
        "name": "Client Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1104,
          140
        ]
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are Nathan, the Rekindle Pro support agent. You help business owners who are signed up to Rekindle Pro — an SMS review automation service. Be concise, helpful and direct. Never say 'someone will get back to you'. If asked about billing, explain they are charged £2.50 per review captured monthly. If asked to pause or resume their campaign, use the appropriate tool. If asked something you cannot resolve, escalate by telling them Riccardo will call them shortly. Keep replies under 160 characters when responding via SMS."
          }
        },
        "id": "ee0763be-0e8d-47b3-bf96-ea5b2861677b",
        "name": "AI Agent: Nathan",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -760,
          -112
        ]
      },
      {
        "parameters": {
          "model": "meta-llama/llama-3.3-70b-instruct",
          "options": {}
        },
        "id": "ba485158-7f68-4a1e-bfd3-e8215c66e8e5",
        "name": "OpenRouter Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -880,
          112
        ],
        "credentials": {
          "openRouterApi": {
            "id": "so0ofQLkRjye9Ka1",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Prepare Input').item.json.phone }}"
        },
        "id": "ecf85434-cc37-497b-9ec8-778f10079eee",
        "name": "Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -752,
          112
        ],
        "credentials": {
          "postgres": {
            "id": "iNd3pXEEaSrJVoEW",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "name": "pause_campaign",
          "description": "Pause a client's review campaign. Use when client asks to pause or stop temporarily."
        },
        "id": "00234577-429f-4ff0-866d-f67d2eab7b7a",
        "name": "Tool: Pause Campaign",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          -624,
          112
        ]
      },
      {
        "parameters": {
          "name": "resume_campaign",
          "description": "Resume a client's review campaign. Use when client asks to resume or restart."
        },
        "id": "b7fcbab8-495f-444c-bf23-7b7f8ee01ff9",
        "name": "Tool: Resume Campaign",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          -496,
          112
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "reply",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "name": "channel",
                "value": "={{ $('Prepare Input').item.json.channel }}",
                "type": "string"
              },
              {
                "name": "phone",
                "value": "={{ $('Prepare Input').item.json.phone }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2527a9c0-4fea-4836-b7f1-e534e5164f97",
        "name": "Format Reply",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -288,
          -8
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.channel }}",
                "operation": "equals",
                "value2": "sms"
              }
            ]
          }
        },
        "id": "bfb5b127-b526-4fdd-af86-1fb685438c02",
        "name": "SMS or Web?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -64,
          -8
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rest.clicksend.com/v3/sms/send",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickSendApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"from\": \"RekindlePro\",\n      \"body\": \"{{ $json.reply }}\",\n      \"to\": \"={{ $json.phone.startsWith('+') ? $json.phone : '+44' + $json.phone.slice(1) }}\"\n    }\n  ]\n}",
          "options": {}
        },
        "id": "b6b9fa19-cdf2-4d2a-8f16-14145314dd15",
        "name": "Send SMS Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          160,
          -104
        ],
        "credentials": {
          "clickSendApi": {
            "id": "9CcnKL7uI6GrC0rJ",
            "name": "ClickSend account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "reply",
                "value": "={{ $json.reply }}",
                "type": "string"
              },
              {
                "name": "status",
                "value": "ok",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "61b6066a-045d-4d42-a4bc-b09e6222be07",
        "name": "Return Web Reply",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          160,
          88
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "reply",
                "value": "Hi! We couldn't find your account. Please contact hello@rekindlepro.com or reply here and we'll help you out.",
                "type": "string"
              },
              {
                "name": "status",
                "value": "not_found",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "dde96e1a-871f-43b5-964a-1447f4169286",
        "name": "Client Not Found",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -696,
          288
        ]
      },
      {
        "parameters": {
          "description": "Call this tool everytime a client does not sign up, send Output\n1 item\nfirst_name\nphone\ncompany_name\n",
          "workflowId": {
            "__rl": true,
            "value": "cFJPQk2xnChqdMGT",
            "mode": "list",
            "cachedResultName": "My Sub-Workflow 1",
            "cachedResultUrl": "/workflow/cFJPQk2xnChqdMGT"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -464,
          240
        ],
        "id": "35920af2-3086-4cba-95e4-68e6131eb716",
        "name": "Call n8n Workflow Tool"
      },
      {
        "parameters": {
          "mode": "mergeByIndex",
          "options": {}
        },
        "id": "merge-001",
        "name": "Merge Responses",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          400,
          -8
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "respond-001",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          640,
          -8
        ]
      }
    ],
    "connections": {
      "Webhook: Support": {
        "main": [
          [
            {
              "node": "Prepare Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Input": {
        "main": [
          [
            {
              "node": "Lookup Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Client": {
        "main": [
          [
            {
              "node": "Client Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Client Exists?": {
        "main": [
          [
            {
              "node": "AI Agent: Nathan",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Client Not Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent: Nathan": {
        "main": [
          [
            {
              "node": "Format Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Reply": {
        "main": [
          [
            {
              "node": "SMS or Web?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SMS or Web?": {
        "main": [
          [
            {
              "node": "Send SMS Reply",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Web Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send SMS Reply": {
        "main": [
          [
            {
              "node": "Merge Responses",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Web Reply": {
        "main": [
          [
            {
              "node": "Merge Responses",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Responses": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Client Not Found": {
        "main": [
          [
            {
              "node": "Merge Responses",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "OpenRouter Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent: Nathan",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent: Nathan",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Pause Campaign": {
        "ai_tool": [
          [
            {
              "node": "AI Agent: Nathan",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Resume Campaign": {
        "ai_tool": [
          [
            {
              "node": "AI Agent: Nathan",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Call n8n Workflow Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent: Nathan",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Riccardo Minniti",
    "name": "Version 3cadeec9",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-18T18:46:01.553Z",
        "id": 26,
        "workflowId": "H6sBvxFg1sRHOKBQ",
        "versionId": "3cadeec9-c850-4914-9380-c1eae5390c3a",
        "event": "activated",
        "userId": "79fbc936-e238-497e-9813-8539377db831"
      }
    ]
  }
}