n8n_workflows/nathan_update.json
{
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"client-support","responseMode":"lastNode","options":{},"responseData":"firstEntryJson"},"id":"68e50ae8-c393-4696-ad4a-17f0d54d3e03","name":"Webhook: Support","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1840,144],"webhookId":"262f3010-6be2-4eb5-97c4-2a346924485d"},
    {"parameters":{"assignments":{"assignments":[{"name":"userMessage","value":"={{ $json.body.message || $json.body.body }}","type":"string"},{"name":"phone","value":"={{ $json.body.from || $json.body.phone || 'web-user' }}","type":"string"},{"name":"channel","value":"={{ $json.body.from ? 'sms' : 'web' }}","type":"string"}]},"options":{}},"id":"4236977e-8ad4-46d4-bc5f-9655ed6a84a9","name":"Prepare Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1552,144]},
    {"parameters":{"operation":"executeQuery","query":"SELECT * FROM clients WHERE phone = '{{ $json.phone }}' LIMIT 1;","options":{}},"id":"84755449-105c-491e-9754-feef9bdbf211","name":"Lookup Client","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1328,144],"credentials":{"postgres":{"id":"iNd3pXEEaSrJVoEW","name":"Postgres account"}}},
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Handle Postgres zero-items scenario\n// When no client found, Postgres returns empty array - this breaks downstream nodes\n\nconst items = $input.all();\nconst prepareInput = $('Prepare Input').first().json;\n\n// Check if Postgres returned zero items or empty result\nif (!items || items.length === 0 || !items[0]?.json || Object.keys(items[0].json).length === 0) {\n  // No match found - return item with match_found: false\n  return [{\n    json: {\n      match_found: false,\n      phone: prepareInput.phone,\n      userMessage: prepareInput.userMessage,\n      channel: prepareInput.channel,\n      owner_name: null,\n      business_name: null,\n      status: null\n    }\n  }];\n}\n\n// Match found - pass through with match_found: true\nconst row = items[0].json;\nreturn [{\n  json: {\n    match_found: true,\n    phone: prepareInput.phone,\n    userMessage: prepareInput.userMessage,\n    channel: prepareInput.channel,\n    ...row\n  }\n}];"
      },
      "id": "check-match-001",
      "name": "CHECK_MATCH",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1216, 144]
    },
    {"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.match_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"ed63856b-4015-4930-bf9d-e8d5ddaa925f","name":"Client Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1004,144]},
    {"parameters":{"options":{"systemMessage":"You are Nathan, the Rekindle Pro support and sales agent.\n\nEvery message starts with a context tag:\n- [CLIENT: Name, Business, Status] = registered Rekindle Pro client\n- [PROSPECT - not a registered client] = potential customer\n\nFor CLIENTS: address them by name, help with their account, billing (£2.50 per review captured monthly), campaign management (use pause/resume tools). Escalate what you cannot resolve: Riccardo will call them shortly.\n\nFor PROSPECTS: explain Rekindle Pro (SMS review automation at £2.50/review, lead reactivation, free AI audits), ask about their business, recommend the right service, invite them to rekindlepro.com or a free AI audit.\n\nBe concise. Keep SMS replies under 160 characters. No fluff.","maxIterations":5,"timeout":8000},"text":"={{ $json.userMessage }}"},"id":"ee0763be-0e8d-47b3-bf96-ea5b2861677b","name":"AI Agent: Nathan","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-768,-112]},
    {"parameters":{"model":"meta-llama/llama-3.3-70b-instruct","options":{"timeout":7000,"maxRetries":1}},"id":"ba485158-7f68-4a1e-bfd3-e8215c66e8e5","name":"OpenRouter Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-880,112],"credentials":{"openRouterApi":{"id":"so0ofQLkRjye9Ka1","name":"OpenRouter account"}}},
    {"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Prepare Input').item.json.phone }}"},"id":"ecf85434-cc37-497b-9ec8-778f10079eee","name":"Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-752,112],"credentials":{"postgres":{"id":"iNd3pXEEaSrJVoEW","name":"Postgres account"}}},
    {"parameters":{"name":"pause_campaign","description":"Pause a client's review campaign. Use when client asks to pause or stop temporarily."},"id":"00234577-429f-4ff0-866d-f67d2eab7b7a","name":"Tool: Pause Campaign","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[-624,112]},
    {"parameters":{"name":"resume_campaign","description":"Resume a client's review campaign. Use when client asks to resume or restart."},"id":"b7fcbab8-495f-444c-bf23-7b7f8ee01ff9","name":"Tool: Resume Campaign","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1,"position":[-496,112]},
    {"parameters":{"assignments":{"assignments":[{"name":"reply","value":"={{ $('AI Agent: Nathan').item.json.output || 'Hi! I\\'m Nathan from Rekindle Pro. I help with SMS review automation (£2.50/review), lead reactivation, and free AI audits. What would you like to know?' }}","type":"string"},{"name":"channel","value":"={{ $('Prepare Input').item.json.channel }}","type":"string"},{"name":"phone","value":"={{ $('Prepare Input').item.json.phone }}","type":"string"}]},"options":{}},"id":"2527a9c0-4fea-4836-b7f1-e534e5164f97","name":"Format Reply","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-16]},
    {"parameters":{"conditions":{"string":[{"value1":"={{ $json.channel }}","operation":"equals","value2":"sms"}]}},"id":"bfb5b127-b526-4fdd-af86-1fb685438c02","name":"SMS or Web?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-64,-16]},
    {"parameters":{"method":"POST","url":"https://rest.clicksend.com/v3/sms/send","authentication":"predefinedCredentialType","nodeCredentialType":"clickSendApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messages: [{ source: 'n8n', from: 'RekindlePro', body: $('Format Reply').first().json.reply, to: ($('Format Reply').first().json.phone.startsWith('+') ? $('Format Reply').first().json.phone : '+44' + $('Format Reply').first().json.phone.slice(1)) }] }) }}","options":{}},"id":"b6b9fa19-cdf2-4d2a-8f16-14145314dd15","name":"Send SMS Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[160,-112],"credentials":{"clickSendApi":{"id":"9CcnKL7uI6GrC0rJ","name":"ClickSend account 2"}}},
    {"parameters":{"assignments":{"assignments":[{"name":"reply","value":"={{ $('Format Reply').item.json.reply || 'Hi! I\\'m Nathan from Rekindle Pro. How can I help you today?' }}","type":"string"}]},"options":{}},"id":"61b6066a-045d-4d42-a4bc-b09e6222be07","name":"Return Web Reply","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,96]},
    {"parameters":{"description":"Call this tool everytime a client does not sign up, send Output\n1 item\nfirst_name\nphone\ncompany_name\n","workflowId":{"__rl":true,"value":"cFJPQk2xnChqdMGT","mode":"list","cachedResultName":"My Sub-Workflow 1","cachedResultUrl":"/workflow/cFJPQk2xnChqdMGT"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-288,192],"id":"35920af2-3086-4cba-95e4-68e6131eb716","name":"Call n8n Workflow Tool"},
    {"parameters":{"assignments":{"assignments":[{"name":"userMessage","value":"={{ '[CLIENT: ' + $json.owner_name + ', ' + $json.business_name + ', Status: ' + $json.status + ']\\n\\nUser: ' + $json.userMessage }}","type":"string"},{"name":"phone","value":"={{ $json.phone }}","type":"string"},{"name":"channel","value":"={{ $json.channel }}","type":"string"}]},"options":{}},"id":"enrich-client-001","name":"Enrich Client Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,-112]},
    {"parameters":{"assignments":{"assignments":[{"name":"userMessage","value":"={{ '[PROSPECT - not a registered client]\\n\\nUser: ' + $json.userMessage }}","type":"string"},{"name":"phone","value":"={{ $json.phone }}","type":"string"},{"name":"channel","value":"={{ $json.channel }}","type":"string"}]},"options":{}},"id":"client-not-found-node","name":"Client Not Found","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,288]}
  ],
  "connections": {
    "Webhook: Support": {"main": [[{"node": "Prepare Input", "type": "main", "index": 0}]]},
    "Prepare Input": {"main": [[{"node": "Lookup Client", "type": "main", "index": 0}]]},
    "Lookup Client": {"main": [[{"node": "CHECK_MATCH", "type": "main", "index": 0}]]},
    "CHECK_MATCH": {"main": [[{"node": "Client Exists?", "type": "main", "index": 0}]]},
    "Client Exists?": {"main": [[{"node": "Enrich Client Context", "type": "main", "index": 0}], [{"node": "Client Not Found", "type": "main", "index": 0}]]},
    "Enrich Client Context": {"main": [[{"node": "AI Agent: Nathan", "type": "main", "index": 0}]]},
    "Client Not Found": {"main": [[{"node": "AI Agent: Nathan", "type": "main", "index": 0}]]},
    "AI Agent: Nathan": {"main": [[{"node": "Format Reply", "type": "main", "index": 0}]]},
    "Format Reply": {"main": [[{"node": "SMS or Web?", "type": "main", "index": 0}]]},
    "SMS or Web?": {"main": [[{"node": "Send SMS Reply", "type": "main", "index": 0}], [{"node": "Return Web Reply", "type": "main", "index": 0}]]},
    "OpenRouter Model": {"ai_languageModel": [[{"node": "AI Agent: Nathan", "type": "ai_languageModel", "index": 0}]]},
    "Chat Memory": {"ai_memory": [[{"node": "AI Agent: Nathan", "type": "ai_memory", "index": 0}]]},
    "Tool: Pause Campaign": {"ai_tool": [[{"node": "AI Agent: Nathan", "type": "ai_tool", "index": 0}]]},
    "Tool: Resume Campaign": {"ai_tool": [[{"node": "AI Agent: Nathan", "type": "ai_tool", "index": 0}]]},
    "Call n8n Workflow Tool": {"ai_tool": [[{"node": "AI Agent: Nathan", "type": "ai_tool", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false, "callerPolicy": "workflowsFromSameOwner"}
}
