Workflows/Review Agent/Review Agent.json
{
  "name": "Review Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-demo-trigger",
        "options": {}
      },
      "id": "6e9ccd86-2920-4b19-a2a8-224828f62e81",
      "name": "Webhook: Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -336,
        432
      ],
      "webhookId": "24740bd6-2c4b-418c-b68f-49110cf41931"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.clicksend.com/v3/sms/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickSendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"body\": \"Hey {{ $json.body.first_name }}, it's Riccardo 👋 Before our demo — why not experience it yourself? Reply GOOD or BAD\",\n      \"to\": \"{{ $json.body.phone }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "39c8977f-34a4-4845-820c-eafb93a474a0",
      "name": "HTTP: Send Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -112,
        432
      ],
      "credentials": {
        "clickSendApi": {
          "id": "9CcnKL7uI6GrC0rJ",
          "name": "ClickSend account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sms_logs (client_id, customer_phone, direction, body)\nVALUES (\n  (SELECT id FROM clients LIMIT 1),\n  '{{ $json.body.phone }}',\n  'outbound',\n  'Demo outreach sent'\n);",
        "options": {}
      },
      "id": "35fab66c-1dad-4fd5-a53c-de83b6afb1dc",
      "name": "DB: Log Outbound SMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        112,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clicksend-inbound",
        "options": {}
      },
      "id": "8d7d9570-27b4-465f-aeb4-19463c93e852",
      "name": "Webhook: Inbound SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -336,
        752
      ],
      "webhookId": "1297aaf2-66a4-466f-8bcd-76e214cfd8cb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sms_logs (client_id, customer_phone, direction, body)\nVALUES (\n  (SELECT id FROM clients LIMIT 1),\n  '{{ $json.body.from }}',\n  'inbound',\n  '{{ $json.body.body }}'\n);",
        "options": {}
      },
      "id": "a1f95b00-5cb0-46ae-b7cd-6ba976faaa9f",
      "name": "DB: Log Inbound SMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -112,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.body }}",
              "operation": "contains",
              "value2": "GOOD"
            }
          ]
        }
      },
      "id": "b2d7a355-73f8-4c03-ad60-7b68afef252b",
      "name": "IF: Positive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        112,
        752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reviews (client_id, customer_phone, billed)\nVALUES (\n  (SELECT id FROM clients LIMIT 1),\n  '{{ $json.body.from }}',\n  false\n);",
        "options": {}
      },
      "id": "580fe119-134b-4ed3-a642-1cbb64e1aff8",
      "name": "DB: Log Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.clicksend.com/v3/sms/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickSendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"body\": \"Amazing! Leave a quick review here 👉 rekindlepro.com/reviews\",\n      \"to\": \"{{ $json.body.from }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "da42857b-187a-4cd2-9227-1e7d2db32a3e",
      "name": "HTTP: Review Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        656
      ],
      "credentials": {
        "clickSendApi": {
          "id": "9CcnKL7uI6GrC0rJ",
          "name": "ClickSend account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sms_logs (client_id, customer_phone, direction, body)\nVALUES (\n  (SELECT id FROM clients LIMIT 1),\n  '{{ $json.body.from }}',\n  'outbound',\n  'Recovery message sent'\n);",
        "options": {}
      },
      "id": "2ec5f6d8-284d-4d32-87ba-b9efeb6ad3ce",
      "name": "DB: Log Recovery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        848
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.clicksend.com/v3/sms/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickSendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"body\": \"Sorry to hear that. Our manager will call you shortly.\",\n      \"to\": \"{{ $json.body.from }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "49cec11a-782f-42d9-9fc7-947edd0ddef5",
      "name": "HTTP: Recovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        848
      ],
      "credentials": {
        "clickSendApi": {
          "id": "9CcnKL7uI6GrC0rJ",
          "name": "ClickSend account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding",
        "options": {}
      },
      "id": "1f8469c4-4717-49f5-9266-500fffb539e5",
      "name": "Webhook: Onboarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -336,
        1072
      ],
      "webhookId": "onboarding-webhook-uuid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clients (business_name, owner_name, email, phone, review_link, stripe_customer_id, status)\nVALUES (\n  '{{ $json.body.business_name }}',\n  '{{ $json.body.owner_name }}',\n  '{{ $json.body.email }}',\n  '{{ $json.body.phone }}',\n  '{{ $json.body.review_link }}',\n  '{{ $json.body.stripe_customer_id }}',\n  'active'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "fc3599a9-e229-44d8-b89f-5c4a8ccca49c",
      "name": "DB: Insert Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -112,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "iNd3pXEEaSrJVoEW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.clicksend.com/v3/sms/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickSendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"body\": \"Welcome to Rekindle Pro, {{ $json.body.owner_name }}! 🔥 You're all set. We'll have your system live within 24 hours. Any questions? Reply here.\",\n      \"to\": \"{{ $json.body.phone }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "fe36b280-fc3e-45a6-9f13-52fbad476d6a",
      "name": "HTTP: Welcome SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        112,
        1072
      ],
      "credentials": {
        "clickSendApi": {
          "id": "9CcnKL7uI6GrC0rJ",
          "name": "ClickSend account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.clicksend.com/v3/sms/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickSendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"source\": \"n8n\",\n      \"body\": \"🔥 New client signed up!\\nName: {{ $json.body.owner_name }}\\nBusiness: {{ $json.body.business_name }}\\nPhone: {{ $json.body.phone }}\\nEmail: {{ $json.body.email }}\\nReview link: {{ $json.body.review_link }}\\n\\nSet them up within 24hrs.\",\n      \"to\": \"+447903573667\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "69885a51-01de-4cf1-8028-8459d7a42a17",
      "name": "HTTP: Notify Riccardo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        336,
        1072
      ],
      "credentials": {
        "clickSendApi": {
          "id": "9CcnKL7uI6GrC0rJ",
          "name": "ClickSend account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Form": {
      "main": [
        [
          {
            "node": "HTTP: Send Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Send Outreach": {
      "main": [
        [
          {
            "node": "DB: Log Outbound SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Inbound SMS": {
      "main": [
        [
          {
            "node": "DB: Log Inbound SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Log Inbound SMS": {
      "main": [
        [
          {
            "node": "IF: Positive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Positive?": {
      "main": [
        [
          {
            "node": "DB: Log Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Log Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Log Review": {
      "main": [
        [
          {
            "node": "HTTP: Review Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Log Recovery": {
      "main": [
        [
          {
            "node": "HTTP: Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Onboarding": {
      "main": [
        [
          {
            "node": "DB: Insert Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Insert Client": {
      "main": [
        [
          {
            "node": "HTTP: Welcome SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Welcome SMS": {
      "main": [
        [
          {
            "node": "HTTP: Notify Riccardo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36d4c1d1-db35-431f-9bec-87118a4f53c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d68f354ce263acaea313bcca5f0ea49269215099fcef8e2f52b20c197473ff4"
  },
  "id": "5NMYAFx8ynXLJ4iW",
  "tags": []
}